/****************/
/* Global Reset */
/****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /******************/
  /* General Styles */
  /******************/
  html {
    font-size: 62.5%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 90%;
    margin: 0;
    font-family: "Inter", sans-serif;
    background: url("Images/background.png") no-repeat center center/cover;
  }
  
  .container {
    max-width: 150rem;
    width: 90%;
  }
  
  /**********/
  /* Header */
  /**********/
  .qr-code-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-button {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .header-button:link,
  .header-button:visited {
    color: #1b1b1e;
  }
  
  .header-button:hover,
  .header-button:active {
    color: #393d3f;
  }
  
  .header-logo {
    height: 8rem;
  }
  
  .header-logo-container {
    background-color: #ecebeb;
    padding: 0.8rem;
    border-radius: 2rem;
    box-shadow: 0 20px 30px 10px rgb(0, 0, 0, 0.1);
  }
  
  /*********************/
  /* Generated QR Code */
  /*********************/
  .generated-qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .generated-qr-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecebeb;
    box-shadow: 0 20px 30px 10px rgb(0, 0, 0, 0.1);
    border-radius: 2rem;
    height: 50rem;
    width: 50rem;
    max-width: 90%;
  }
  
  .generated-qr-heading {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 3.2rem 2.4rem 2.4rem;
    text-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #1b1b1e;
  }
  
  .generated-qr {
    border: 3px solid #393d3f;
    padding: 1.2rem;
    height: 35rem;
    width: 35rem;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .generated-qr img {
    max-width: 100%;
    max-height: 100%; 
  }
  
  .generated-qr--btn {
    text-decoration: none;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: #4C5B7B;
    color: #ecebeb;
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    margin: 2.4rem 0;
    transition: all 0.3s ease-in-out;
  }
  
  .generated-qr--btn:hover,
  .generated-qr--btn:active {
    background-color: #7485AA;
    box-shadow: 0 5px 20px 5px rgba(129, 144, 177, 0.5);
  }