asgiref==3.7.2
colorama==0.4.6
Django==4.2.5
msql==1.2.2
mypy==1.6.1
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.0
Pillow==10.1.0
protobuf==4.21.12
pypng==0.20220715.0
python-decouple==3.8
qrcode==7.4.2
sqlparse==0.4.4
tomli==2.0.1
typed-ast==1.5.5
typing_extensions==4.7.1
tzdata==2023.3
